<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Sneaky Cats</title>
    <meta name="description" content="Many cats!">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/more.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="{{ url_for('index') }}">Sneaky Cats</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Download</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
            </div>
        <h2 class="about_title">Why this project?</h2>
        <p class="about_text"> This project is mainly to spread the love for cats to the world and make it easy to share pictures of cats we like. However we also have the mission to educate people about their own security. Over a thousand of applications are deployed daily on official stores yet we don't know much about what kind of information a developer can get from us in any of those application. With our app as a program outside a official store we want to give people a positive message that can teach them about mobile applications. We count on you by downloading our application and making part of this project by also agreeing in taking basic anonymous information from your phone so that we can give you a feedback about security.</p>                
            
    </header>  
               
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Sneaky Cats 2018</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>
